spring:
  application:
    name: Booking Tour & Hotel
  servlet:
    multipart:
      max-file-size: 5MB
  profiles:
    active: dev
  data:
    redis:
      port: 6379
      host: localhost
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
  security:
    user:
      name: username
    oauth2:
      client:
        registration:
          google:
            client-secret: ${CLIENT_SECRET}
            client-id: ${CLIENT_ID}
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - email
              - profile
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${USERNAME_MAIL}
    password: ${PASSWORD_MAIL}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: ${DATABASE_URL}
    username: ${USER_NAME}
    password: ${PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true


# port
server:
  port: ${PORT}
#prefix endpoint
  servlet:
    context-path: /api/

# global environment
application:
  security:
    secretKey: ${JWT_SECRET_KEY}
    accessExpiration: ${JWT_ACCESS_EXPIRATION}
    refreshExpiration: ${JWT_REFRESH_EXPIRATION}
    secretKeyMAC: ${SECRET_KEY_MAC}

cloudinary:
  cloud-name: ${CLOUDINARY_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}


payment:
  vnPay:
    url: ${PAY_URL}
    tmnCode: ${TMN_CODE}
    secretKey: ${SECRET_KEY}
    returnUrl: ${RETURN_URL}
    version: ${VERSION}
    command: ${COMMAND}
    orderType: ${ORDER_TYPE}

# logging
#  logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicExtractor: TRACE
              BasicBinder: TRACE

#  logging.level.org.hibernate.type.descriptor.sql.BasicExtractor=TRACE